

.section-news {
    .news_general {
        position: relative;
        .img {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            min-width: 100%;
            min-height: 100%;
            flex-shrink: 0;
        }
    }
    .news_box {
        display: flex;
        position: relative;

        .desc p {
            margin: 25px 0 0;
            font-weight: 300;
            line-height: 27px;
            font-size: 16px;
        }
    }
}
